.provider-filter-wrapper {
  .overview,
  .configuration {
    button {
      width: 100%;
      box-shadow: unset;
      height: 35px !important;
      font-size: 12px;
      font-weight: 500;
    }
    button.active:not(.v-btn--disabled) {
      color: #fff;
      background-color: #000 !important;
    }
    button:not(.active):not(.v-btn--disabled) {
      color: black;
      border: 1px solid #e2e8f0;
      background-color: #f1f5f9;
    }
  }
  .country,
  .status {
    .v-field-label {
      color: #535d6d;
      font-weight: 500;
      font-size: 10px;
      opacity: 1;
    }
    .v-select__selection .v-select__selection-text {
      text-transform: capitalize;
      color: #535d6d;
      font-weight: 450;
      font-size: 13px;
      opacity: 1;
    }
  }
}

.provider-config-wrapper {
  .v-row {
    gap: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .provider-logo {
      width: 40px;
      height: 40px;
      background: white;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 0.2rem;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.0509803922);
    }
    .provider-action-btn button {
      border-radius: 8px;
      text-transform: capitalize;
      box-shadow: none;
      border: 1px solid #cacaca;
    }
  }
}

.empty-box {
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  height: 500px;
  text-align: center;
  padding-top: 4rem;
}

.provider-component {
  .cstm-logo {
    .v-img__img {
      all: unset;
      width: 3rem;
      height: 100%;
    }
  }
  .v-row {
    margin: unset;
    gap: 26px;
    align-items: flex-start;
    label {
      display: block;
    }
    .v-field {
      border-radius: 8px;
      input,
      textarea {
        font-size: 13px;
      }
    }
    .v-select__selection-text {
      font-size: 13px;
    }
    .save-provider {
      width: 100%;
      box-shadow: none;
      background-color: #16a349 !important;
      color: #fff;
      text-transform: capitalize;
      border-radius: 8px;
    }
  }
  .config-col {
    background: #fff;
    border-radius: 8px !important;
    border: 1px solid #d0d0d0;
  }
  .config-heading-container {
    display: flex!important;
    justify-content: space-between!important;
    border-bottom: 1px solid #d0d0d0!important;
  }
}

.custom-switch {
  .v-switch__thumb {
    width: 21px;
    height: 21px;
    transform: none !important;
  }
  .v-selection-control--dirty .v-switch__track {
    opacity: 1 !important;
  }
  .v-switch__track {
    height: 30px !important;
  }
}

.select-item .v-list-item-title {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (max-width: 749px) {
  .provider-filter-wrapper {
    .search {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .country {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .status {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .overview,
    .configuration {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .provider-config-wrapper {
    .v-row {
      flex-wrap: wrap;
      .provider-loading-row {
        flex: 0 0 calc(100% - 8px);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .provider-component {
    .v-row {
      flex-wrap: wrap;
    }
    .v-col-md-6 {
        flex: 0 0 100% ;
      }
  }
}

@media screen and (min-width: 992px) {
  .provider-component {
    .v-row {
      .v-col-md-6 {
        flex: 0 0 calc(50% - 13px);
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .provider-filter-wrapper {
    .search {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .country {
      max-width: 50%;
      flex: 0 0 50%;
    }
    .status {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .overview,
    .configuration {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .provider-config-wrapper {
    .v-row {
      .provider-loading-row {
        flex: 0 0 calc(50% - 8px);
      }
    }
  }
}
@media screen and (min-width: 1201px) {
  .provider-filter-wrapper {
    .search {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .country {
      max-width: 10%;
      flex: 0 0 10%;
    }
    .status {
      flex: 0 0 10%;
      max-width: 10%;
    }
    .overview,
    .configuration {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .provider-config-wrapper {
    .v-row {
      .provider-loading-row {
        flex: 0 0 calc(50% - 8px);
      }
    }
  }
}
